a {
  text-decoration: none !important;
  // color: inherit !important;
}

input {
  outline: none !important;
  box-shadow: none !important;
  &:hover,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.my-input {
  box-shadow: 0 0 4px 0 #dcdcdc;
}

.my-checkbox {
  .chakra-checkbox__control {
    background: var(--primary);

    svg {
      polyline {
        color: var(--light);
      }
    }
  }
}

.gradient-bg {
  background-image: linear-gradient(to bottom right, #eb5231 5%, #a63a7b 60%, #571fcf 100%);
}

.quote-carousel {
  background-image: linear-gradient(to bottom right, #eb5231 5%, #a63a7b 60%, #571fcf 100%);
  border-radius: 10px;

  .react-multi-carousel-list {
    padding-bottom: 20px;
  }

  .quotes-dots {
    justify-content: start;

    li {
      button {
        border-color: var(--light) !important;
      }
    }

    .react-multi-carousel-dot--active {
      button {
        background-color: var(--light);
      }
    }
  }
}
